Button {
  -fx-background-color: crimson;
  -fx-text-fill: white;
  -fx-cursor: hand;
}
Button:hover {
  -fx-background-color: #9a112e;
}

TextField {
  -fx-background-color: white !important;
  -fx-text-fill: crimson;
  -fx-border-color: crimson;
  -fx-border-radius: 4px;
}

.grid-pane {
  -fx-border-width: 2px;
}
